#wrapper {
    width: 200px;
    font-size: 16px;
}

ul {
    list-style: none;
}

.hide {
    display: none;
}

.list:hover .hide {
    display: block;
}

.hs:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

body nav div ul li ul li a {
    margin-left: -25px;
    color: #a5a4a4;
    text-decoration: none;
}
