body {
    background-color: #595959;
    font-family: arial, sans-serif;
}

body h1 {
    color: #9BABB3;
    font-size: 1.5em;
}

body table tr td {
    padding: 10px;
}

body table tr td:first-child {
    font-style: italic;
    color: #FFFFFF;
}

.padding {
    padding-bottom: 0;
}

.yellow-color {
    color: yellow;
}

.red-color {
    color: red;
    padding-top: 0;
}

.grey-color {
    color: #9BABB3;
}

.orange-color {
    color: orange;
}

#circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
}
