body {
    background-color: #595959;
    font-size: 1em;
    font-family: Arial, Veranda, sans-serif;
}

h1 {
    color: #9FACB6;
    font-size: 1.5em;
}

tr {
  height: 40px;
}

td:first-child {
    font-style: italic;
    color: #FFFFFF;
    width: 150px;
}

#vertical-align {
    vertical-align: top;
}

img {
  width: 14px;
}

.yellow-color {
  color: #DAD58A;
}

.red-color {
  color: #E80103;
}

.grey-color {
  color: #9FACB6;
}

.orange-color {
  color: #C16928;
}
